.chat__wrapper {

    .setting_wrapper {
        position: fixed;
        inset: 0;
        z-index: 5;
        display: flex;
        justify-content: center;
        pointer-events: none;
        content-visibility: auto;

        .wrapper {
            display: flex;
            flex-direction: column;
            gap: .5rem;
            flex-grow: 1;
            max-width: 48rem;
            margin-top: 10vh;
            padding: 1.25rem;
            border-radius: 1.5rem 1.5rem 0 0;
            background-color: var(--surface-3-color);
            pointer-events: auto;
            translate: 0 100%;
            transition: .6s;

            @media (width >=992px) {
                padding: 2.5rem;
                border-radius: .5rem .5rem 0 0;
            }

            .open & {
                translate: 0 0;
            }

            .head,
            .link_wrapper,
            .window__wrapper {
                display: flex;
            }

            .head {
                justify-content: space-between;

                .heading {
                    text-box: trim-both cap alphabetic;
                    margin-bottom: 1rem;
                }

                .close {}
            }

            .link_wrapper {
                flex-wrap: wrap;
                gap: .5rem;

                .link {
                    --padding-x: 1.25rem;
                    --padding-y: .9rem;
                    --bg: transparent;

                    flex-grow: 1;

                    &:hover {
                        --bg: var(--surface-color);
                    }

                    &.active {
                        --bg: var(--bg-color);
                    }
                }
            }

            .window__wrapper {
                flex-grow: 1;
                overflow-x: auto;
                scrollbar-width: none;
                margin-top: .5rem;
                scroll-snap-type: x mandatory;

                .window {
                    width: 100%;
                    max-height: 100%;
                    overflow-y: auto;
                    flex-shrink: 0;
                    scroll-snap-align: center;

                    form {
                        display: flex;
                        flex-direction: column;
                        padding: 0 2px;
                        background: unset;
                    }
                }

                button {
                    --padding-y: 1rem;
                    line-height: normal;
                }

                @media (width >=992px) {
                    button, input, select, textarea {
                        --padding-y: 1.25rem;
                    }
                }


                .other {
                    display: flex;
                    flex-direction: column;
                    gap: .5rem;
                }
            }
        }
    }
}